/* code formatting */
pre, code { font-size: 15px; border-radius: 3px; }
code { padding: 1px 5px; }
pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }
